
.animated-text {
  display: flex;
  flex-direction: column;
}

.animated-text-cashtag .type {
  padding: 8px 12px;
  background: rgba(255,255,255,0.2);
  border-radius: 8px;
}
.animated-text-cashtag .type:before {
  display: none;
  animation: none;
}

.anim-cashtag-absolute {
  position: absolute;
}

.animated-text .anim-cashtag-1 {
  animation: typing-cashtag 1.5s;
  top: 96px;
}

.animated-text .anim-cashtag-2 {
  top: 240px;
  left: 92px;
  animation: typing-cashtag-2 2.5s;
}

.animated-text .anim-cashtag-3 {
  top: 128px;
  left: 156px;
  animation: typing-cashtag-3 3.3s;
}

.animated-text .anim-cashtag-4 {
  top: 128px;
  right: 156px;
  animation: typing-cashtag-4 2.2s;
}

.animated-text .anim-cashtag-5 {
  top: 420px;
  left: 512px;
  animation: typing-cashtag-5 2.4s;
}

.animated-text .anim-cashtag-6 {
  top: 360px;
  left: 156px;
  animation: typing-cashtag-6 2.8s;
}

.animated-text .anim-cashtag-7 {
  top: 224px;
  right: 92px;
  animation: typing-cashtag-7 2.6s;
}

.animated-text .anim-cashtag-8 {
  top: 308px;
  right: 132px;
  animation: typing-cashtag-8 3.2s;
}

.animated-text .anim-cashtag-9 {
  top: 92px;
  left: 480px;
  animation: typing-cashtag-9 3.1s;
}

.animated-text .anim-cashtag-10 {
  top: 392px;
  right: 184px;
  animation: typing-cashtag-10 3.3s;
}

.animated-text-password {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 48px;
}

.animated-text-password .password {
  display: block;
  font-size: 44px;
  animation: typingBack 5s steps(9,end) infinite; 
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.animated-text-password .password:after {
  position: absolute;
  content: '';
  display: block;
  height: 42px;
  width: 6px;
  right: 0;
  bottom: 4px;
  border-right: 2px solid rgba(255,255,255,0.8);
  animation: caret-vertical 0.8s infinite; 
}

.animated-lightbulb {
  top: 12px;
  width: 200px;
  animation: lightBulb 4s;
}

.lightbulb-bulb {
  width: 100%;
  position: relative;
  perspective: 400px;
  margin: auto;
}

.lightbulb-bulb:after {
  content: '';
  display: block;
  padding-top: 125%;
}

.lightbulb-glass {
  position: absolute;
  perspective: 400px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  opacity: .9;
  background: rgba(217, 241, 250, 0.8);
  border-radius: 100%/40%;
  transform: rotateX(-20deg);
  animation: lightGlass 4s;
  box-shadow: 0 0 96px 4px rgba(255,255,255, 0.9), inset  0 0 56px 24px rgba(255,255,255, 0.9);
}

@keyframes lightGlass {
  0% {
    transform: scale(0);
    opacity: .2;
  }
  40% {
    transform: scale(1);
  }
  80% {
    background: rgba(217, 241, 250, 0.2);
    opacity: .2;
    box-shadow: 0 0 72px rgba(255,255,255, 0.0);
  }
  81% {
    opacity: 1;
  }
  82% {
    opacity: 0.2;
  }
  83% {
    opacity: 1;
  }
  84% {
    opacity: .2;
  }
  85% {
    opacity: 1;
  }
  86% {
    opacity: .2;
  }
  100% {
    opacity: .8;
  }
}

.lightbulb-glass:after {
  content: '';
  display: block;
  position: absolute;
  top: 2%;
  right: 5%;
  bottom: 5%;
  left: 5%;
  background: linear-gradient(rgba(217, 241, 250, 0.3), transparent);
  border-radius: 100%/40%;
  box-shadow: 0 0 56px 4px rgba(255,255,255, 0.9), inset 0 0 56px 24px rgba(255,255,255, 0.9);
}

.lightbulb-wire {
  position: absolute;
  top: 73px;
  left: 0;
  width: 96px;
  margin: auto;
  right: 0;
  height: 6px;
  border-radius: 3px;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 0 32px rgba(255,255,255, 1);
  animation: lightWire 4s;
}

@keyframes lightWire {
  0% {
    width: 0;
    background: rgba(255,255,255,0.4);
    box-shadow: 0 0 72px rgba(255,255,255, 0);
  }
  10% {
    width: 0;    
  }
  40% {
    width: 96px;
  }
  80% {
    background: rgba(255,255,255,0.4);
    box-shadow: 0 0 72px rgba(255,255,255, 0);
  }
  81% {
    opacity: 1;
  }
  82% {
    opacity: 0.2;
  }
  83% {
    opacity: 1;
  }
  84% {
    opacity: .2;
  }
  85% {
    opacity: 1;
  }
  86% {
    opacity: .2;
  }
  100% {
    opacity: .8;
  }
}

.lightbulb-wire:before, .lightbulb-wire:after {
  position: absolute;
  content: '';
  display: block;
  height: 160px;
  width: 3px;
  top: 0;
  background: rgba(128,128,128, 0.5);
}

.lightbulb-wire:before {
  left: 0;
  transform: rotate(-10deg) translate(4px, 2px);
  animation: lightWireSide 4s;
}

.lightbulb-wire:after {
  right: 0;
  transform: rotate(10deg) translate(-4px, 2px);
  animation: lightWireSide 4s;
}

@keyframes lightWireSide {
  0% {
    height: 0;
  }
  20% {
    height: 0;
  }
  60% {
    height: 160px;
  }
}

.lightbulb-base {
  width: 60%;
  position: relative;
  perspective: 500px;
  margin: auto;
  top: -56px;
  animation: lightWireSide 4s;
}

@keyframes lightWireSide {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1);
  }
}

.lightbulb-base:after {
  content: '';
  display: block;
  padding-top: 100%;
}

.lightbulb-base:before {
  content: '';
  display: block;
  position: absolute;
  height: 48px;
  width: 48px;
  border-radius: 12px;
  background: #444;
  left: 0;
  right: 0;
  margin: auto;
  transform: rotate(45deg);
  bottom: 12px;
}

.lightbulb-base-cover {
  position: absolute;
  perspective: 400px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background: #dcdbcd;
  border-radius: 100%/30%;
  transform: rotateX(-45deg);
}

.lightbulb-grate {
  position: absolute;
  width: 126px;
  height: 8px;
  left: -2px;
  right: 0;
  margin: auto;
  border-radius: 4px;
  top: 56px;
  background: #ececec;
  transform: rotate(-8deg); 
}

.lightbulb-grate:before, .lightbulb-grate:after {
  display: block;
  content: '';
  position: absolute;
}

.lightbulb-grate:before {
  position: absolute;
  width: 122px;
  height: 8px;
  right: 0;
  left: -6px;
  margin: auto;
  border-radius: 4px;
  top: 16px;
  background: #ececec;
}

.lightbulb-grate:after {
  position: absolute;
  width: 130px;
  height: 8px;
  right: 0;
  left: 0;
  margin: auto;
  border-radius: 4px;
  bottom: 16px;
  background: #ececec;
}

@keyframes caret-vertical {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes typing-cashtag {
  0% {
    width: 0;
    padding: 0;
  }
  50%{
    width: 0;
    padding: 0;
  }
  100% {
    width: 344px;
    padding: 8px 12px;
  }
}

@keyframes typing-cashtag-2 {
  0% {
    width: 0;
    padding: 0;
  }
  70%{
    width: 0;
    padding: 0;
  }
  100% {
    width: 327px;
    padding: 8px 12px;
  }
}

@keyframes typing-cashtag-3 {
  0% {
    width: 0;
    padding: 0;
  }
  70%{
    width: 0;
    padding: 0;
  }
  100% {
    width: 282px;
    padding: 8px 12px;
  }
}

@keyframes typing-cashtag-4 {
  0% {
    width: 0;
    padding: 0;
  }
  70%{
    width: 0;
    padding: 0;
  }
  100% {
    width: 337px;
    padding: 8px 12px;
  }
}

@keyframes typing-cashtag-5 {
  0% {
    width: 0;
    padding: 0;
  }
  70%{
    width: 0;
    padding: 0;
  }
  100% {
    width: 294px;
    padding: 8px 12px;
  }
}

@keyframes typing-cashtag-6 {
  0% {
    width: 0;
    padding: 0;
  }
  70%{
    width: 0;
    padding: 0;
  }
  100% {
    width: 326px;
    padding: 8px 12px;
  }
}

@keyframes typing-cashtag-7 {
  0% {
    width: 0;
    padding: 0;
  }
  70%{
    width: 0;
    padding: 0;
  }
  100% {
    width: 292px;
    padding: 8px 12px;
  }
}

@keyframes typing-cashtag-8 {
  0% {
    width: 0;
    padding: 0;
  }
  70%{
    width: 0;
    padding: 0;
  }
  100% {
    width: 251px;
    padding: 8px 12px;
  }
}

@keyframes typing-cashtag-9 {
  0% {
    width: 0;
    padding: 0;
  }
  70%{
    width: 0;
    padding: 0;
  }
  100% {
    width: 292px;
    padding: 8px 12px;
  }
}

@keyframes typing-cashtag-10 {
  0% {
    width: 0;
    padding: 0;
  }
  70%{
    width: 0;
    padding: 0;
  }
  100% {
    width: 245px;
    padding: 8px 12px;
  }
}

@keyframes typingBack {
  0% {
    width: 0;
  }
  35%{
    width: 100%;
    padding: 0;
  }
  100% {
    width: 0;
  }
}
